<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>これまでの活動</title>
    <meta name="description" content="BoSHのホームページです。">
    <meta name="Keywords" content="BoSH">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/activity.css">

  </head>
  <body>
    <!-- ここからスクリプト言語 -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">

        <!-- ロゴの部分 -->
        <a href="/home" class="navbar-brand">BoSH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <!-- <li class="nav-item">
              <a href="bosh_home.html" class="nav-link active">BoSHとは</a>
            </li> -->
            <li class="nav-item">
              <a  href="/project" class = "nav-link">
                プロジェクト
              </a>

              <!-- ヘッダーバーにおけるドロップダウンツール -->
              <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="project.html">プロジェクトとは</a>
                <div class="dropdown-divider"></div>
                 <a class="dropdown-item" href="#">プロジェクト活動の様子</a>

                 <a class="dropdown-item" href="#">Something else here</a> -->

              <!-- </div> -->
            </li>
            <li class="nav-item">
              <a href="/online-edu" class="nav-link">オンライン事業</a>

            </li>
            <li class="nav-item">
              <a href="/activity" class="nav-link">これまでの活動</a>

            </li>
            <li class="nav-item">
              <a href="/contact" class="nav-link">コンタクト</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <main class = "container">
      <div id ="main_content">
        <section id = "campaign">
          <h1>これまでの活動</h1>
          <div class="first_event">
            <img src="/images/activity/first_event.jpg" alt="" />
          </div>
          <div class="second_event">
            <img src="/images/activity/second_event.jpg" alt="" />
          </div>
          <div class="jaxa_visit">
            <img src="/images/activity/jaxavisit.jpg" alt="" />
          </div>
          <div class="jamstec_visit">
            <img src="/images/activity/jamstec.jpg" alt="" />
          </div>
          <div class="fourth_event">
            <img src="/images/activity/fourth_event.jpg" alt="" />
          </div>
          <dl>
            <dt>2018年10月20日</dt>
            <dd>活動開始</dd>
            <dt>2018年12月15日</dt>
            <dd>第一回イベント開催 『宇宙×ビジネス』</dd>
            <dt>2019年2月16日</dt>
            <dd>第2回イベント開催　『心理学×マーケティング』</dd>
            <dt>2019年5月21日</dt>
            <dd>第3回イベント開催　『リアルハプティクス×社会問題』</dd>
            <dt>2019年5月26日</dt>
            <dd>第1回外部施設訪問イベント開催　『国立研究開発法人宇宙航空研究開発機構(JAXA)見学』</dd>
            <dt>2019年10月10日</dt>
            <dd>プロジェクト始動（〜5月）</dd>
            <dt>2020年2月15日</dt>
            <dd>第2回外部施設訪問イベント開催  『国立研究開発法人海洋研究開発機構(JAMSTEC)見学』</dd>
            <dt>2020年11月21日</dt>
            <dd>第4回イベント開催  『宇宙×衣食住』</dd>
            <dt >現在</dt>
            <dd>Youtubeを用いた配信を準備中</dd>
          </dl>

        </section>
      </div>



    </main>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/31168af8af.js"></script>

    <footer>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/project">プロジェクト</a></li>
        <li><a href="/online-edu">オンライン事業</a></li>
        <li><a href="/activity">これまでの活動</a></li>
        <li><a href="/contact">コンタクト</a></li>
      </ul>
      <samll>&copy;2020 CSS BoSH</samll>
    </footer>

  </body>
</html>
